/* Component & Etc */
.swiper-container {overflow: hidden;}

.link-btn {display: flex; align-items: center;}
.link-btn .txt {position: relative; font-size: 18px; font-weight: 600; color: var(--color-black2); line-height: 1;}
.link-btn .txt:after {content: ""; display: block; position: absolute; bottom: -6px; left: 0; z-index: 1; width: 100%; border-top: 2px solid var(--color-black2);}
.link-btn img {margin-left: 6px;}

.marquee_text {
  position: relative;
  z-index: -1;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.marquee_text .track {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.marquee_text .tbox {
  -webkit-transform: translateY(calc(100% - 8rem));
  transform: translateY(calc(100% - 8rem));
}

/* Header */
#header {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; height: 90px; background: var(--color-white); transition: all 0.3s cubic-bezier(0.5, 0, 0, 1.25);}
#header .inner {display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between;}

#header .logo > a {display: block; width: 88px; height: 90px; padding-top: 33px; transition: all 0.5s cubic-bezier(0.5, 0, 0, 1.25);}
#header .logo > a img {vertical-align: top;}

#header .gnb {display: flex; flex-flow: row wrap; align-items: center;}
#header .gnb .navi > ul {display: flex; flex-flow: row wrap; align-items: center; gap: 0 90px;}
#header .gnb .navi > ul > li {position: relative;}
#header .gnb .navi > ul > li > a {display: block; position: relative; height: 90px; line-height: 90px; font-size: 18px; font-weight: 600; color: var(--color-black2);}
#header .gnb .navi > ul > li > a:after {content: ""; display: block; position: absolute; bottom: 24px; left: 50%; z-index: 1; transform: translateX(-50%); width: 0; border-top: 2px solid var(--color-gray6); opacity: 0; transition: all 0.3s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;}

#header .gnb .navi .depth2 {position: absolute; top: 75px; left: 50%; transform: translateX(-50%); width: 120px; padding: 12px 0; border-radius: 12px; text-align: center; background-color: var(--color-black2); opacity: 0; visibility: hidden; transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;}
#header .gnb .navi .depth2 > li {}
#header .gnb .navi .depth2 > li > a {display: block; padding: 7px 10px; font-size: 16px; font-weight: 400; color: #ccc; line-height: 1;}

#header .gnb .navi > ul > li:hover .depth2 {width: 150px; opacity: 1; visibility: visible;}
#header .gnb .navi > ul > li:hover > a:after {width: 100%; opacity: 1;}
#header .gnb .navi .depth2 > li > a:hover {color: var(--color-main);}

#header .language {margin-left: 140px; position: relative;}
#header .language .icon {position: absolute; top: 50%; left: 0; z-index: 1; width: 20px; height: 20px; margin-top: -10px; background: url('../img/language.svg') no-repeat center/contain;}
#header .language .ncSelect {height: 40px; line-height: 40px; border: 0; font-size: 16px; font-weight: 500; color: var(--color-black2);}
#header .language .ncSelect .list {padding: 12px 0; border-radius: 12px; background: var(--color-black2);}
#header .language .ncSelect .option {height: auto; line-height: 1; padding: 7px 10px; font-size: 16px; font-weight: 400; color: #ccc; text-align: center;}
#header .language .ncSelect .option.focus, 
#header .language .ncSelect .option.selected.focus {background: none; font-weight: 500; color: var(--color-main);}
#header .language .ncSelect .option:hover {background: none; font-weight: 500; text-decoration: underline;}

#header .inspection {margin-left: 50px;}
#header .inspection-btn {width: 110px; height: 40px; font-size: 16px; font-weight: 600; color: var(--color-white); background-color: var(--color-black3); transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25);}
#header .inspection-btn img {margin: -1px 3px 0 0; vertical-align: top;}
#header .inspection-btn:hover {background-color: var(--color-main);}

#header.type2 {background: none;}
#header.type2:before {content: ""; display: block; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 90px; background: rgba(255,255,255,0); background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 88%); opacity: 0.2;}
#header.type2 .logo > a {width: 158px;}
#header.type2 .gnb .navi > ul > li > a {color: var(--color-white);}
#header.type2 .gnb .navi > ul > li > a:after {border-color: var(--color-white);}
#header.type2 .language .ncSelect {color: var(--color-white); background-image: url('../img/arrow-down-w.svg');}
#header.type2 .language .icon {background-image: url('../img/language-w.svg');}


/* Footer */
#footer {padding: 100px 0 120px; background-color: var(--color-gray6);}
#footer .inner {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-start;}
#footer .lt {width: calc(100% - 825px); max-width: 100%; padding-right: 160px;}
#footer .rt {width: 825px; max-width: 100%; padding-top: 20px;}
#footer .slg_t1 {font-size: 70px; font-weight: 800; color: var(--color-white); line-height: 1.142;}
#footer .slg_t2 {margin-top: 30px; font-size: 30px; font-weight: 300; color: var(--color-white); line-height: 1.53;}
#footer .slg_t2 b {font-weight: 700;}
#footer .slg_t3 {width: 450px; max-width: 100%; margin-top: 50px; font-size: 18px; font-weight: 400; color: var(--color-white); line-height: 1.55;}

#footer .brand_logo {display: flex; flex-flow: row wrap; align-items: center; gap: 10px 30px; margin-top: 30px;}
#footer .brand_logo > li {position: relative;}
#footer .brand_logo > li ~ li:after {content: ""; display: block; position: absolute; top: 50%; left: -15px; z-index: 1; height: 22px; margin-top: -11px; border-left: 1px solid rgba(255,255,255,0.3);}
#footer .brand_logo .rmk-logo img {width: 60px;}

#footer .sitemap > ul {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: space-between;}
#footer .sitemap > ul > li > a {display: block; font-size: 20px; font-weight: 700; color: var(--color-white); line-height: normal;}
#footer .sitemap > ul > li > ul {margin-top: 20px;}
#footer .sitemap > ul > li > ul > li {}
#footer .sitemap > ul > li > ul > li > a {display: block; font-size: 16px; font-weight: 400; color: var(--color-white); line-height: 1.875;}

#footer .company_info {margin-top: 50px; padding-top: 55px; border-top: 1px solid rgba(255,255,255,0.3);}
#footer .company_info > ul {display: flex; flex-flow: row wrap; gap: 12px 28px;}
#footer .company_info > ul > li {position: relative; font-size: 16px; font-weight: 400; color: var(--color-white); line-height: normal;}
#footer .company_info > ul > li:after {content: ""; display: block; position: absolute; top: 50%; right: -14px; z-index: 1; height: 12px; margin-top: -6px; border-left: 1px dashed rgba(255,255,255,0.3);}
#footer .company_info > ul > li ~ li:last-child:after {display: none;}
#footer .company_info > ul > li b {font-weight: 600;}

#footer .copy {margin-top: 25px; font-size: 14px; font-weight: 400; color: #bbb; line-height: normal;}

#footer .sns {margin-top: 40px;}
#footer .sns > ul {display: flex; flex-flow: row wrap; gap: 10px 20px;}

.fix_btns {position: fixed; bottom: 20px; right: 20px; z-index: 100;}
.fix_btns > ul {}
.fix_btns > ul > li {}
.fix_btns > ul > li ~ li {margin-top: 20px;}
.fix_btns > ul > li .ui-btn {display: block; width: 80px; height: 80px; border-radius: 50%; transform: translate3d(50px, 0, 0); opacity: 0; visibility: hidden;}
.fix_btns > ul > li .ui-btn.inspection-btn {background: url('../img/inspection-m.svg') no-repeat center/48px auto, var(--color-gray6); transition: all 0.6s 0.2s cubic-bezier(0.5, 0, 0, 1.25);}
.fix_btns > ul > li .ui-btn.naverStore-btn {background: url('../img/naver-store.svg') no-repeat center/52px auto, #01C73C; transition: all 0.4s 0.2s cubic-bezier(0.5, 0, 0, 1.25);}
.fix_btns > ul > li .ui-btn.amazon-btn {background: url('../img/amazon.svg') no-repeat center/43px auto, #231F20; transition: all 0.2s 0.2s cubic-bezier(0.5, 0, 0, 1.25);}
.fix_btns > ul > li .ui-btn.top-btn {background: url('../img/top-arrow.svg') no-repeat center/16px auto, #FF9900; transition: all 0.3s cubic-bezier(0.5, 0, 0, 1.25);}

.fix_btns.show > ul > li .ui-btn {transform: translate3d(0, 0, 0); opacity: 1; visibility: visible;}

/* Main */
#main {min-height: 2000px; padding-bottom: 150px;}

.main_sec-top {position: relative; z-index: 30;}
.main_sec-ct {position: relative; z-index: 10;}

#main .content_title1 {line-height: 1.33;}

#main .content-text {font-size: 50px; font-weight: 200; color: var(--color-black2); line-height: 1.4;}
#main .content-text b {font-weight: 700;}

#main .content-text2 {font-size: 30px; font-weight: 300; color: var(--color-black2); line-height: 1.53;}
#main .content-text2 b {font-weight: 700;}

#main .content-text3 {font-size: 22px; font-weight: 300; color: var(--color-black2); line-height: 1.63;}
#main .content-text3 b {font-weight: 600;}

.main_visual .swiper-slide {position: relative; width: 100%; height: 100vh;}
.main_visual .swiper-slide img {position: absolute; top: 50%; left: 50%; z-index: 1; transform: translate(-50%, -50%);}
.main_visual .swiper-slide .txt-box {position: absolute; bottom: 23%; left: 0; z-index: 20; width: 100%;}
.main_visual .swiper-slide .txt-box .inner {width: 50%;}
.main_visual .swiper-slide .txt-box .t1 {font-size: 100px; font-weight: 800; color: var(--color-white); line-height: normal;}
.main_visual .swiper-slide .txt-box .t2 {margin-top: 35px; font-size: 30px; font-weight: 500; color: var(--color-white); line-height: normal; opacity: 0; transition: all 3s 1s cubic-bezier(0.5, 0, 0, 1.25);}
.main_visual .swiper-slide .txt-box .t2.show {opacity: 1;}

.main_dalton {margin-top: 120px;}
.main_dalton .main_sec-ct {position: relative;}
.main_dalton .main_sec-ct:after {content: ""; display: block; position: absolute; bottom: 0; left: 0; z-index: -1; width: 100%; height: 23%; background: rgb(250,250,250); background: linear-gradient(0deg, rgba(250,250,250,1) 50%, rgba(250,250,250,0) 100%);}
.main_dalton .content-text2 {margin-top: 60px;}

.main_dalton-images {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-end; gap: 30px 70px; transform: translate3d(0, 130px, 0);}
.main_dalton-img-item {overflow: hidden; width: 400px; max-width: calc(33.333% - (140px / 3));}
.main_dalton-img-item.item2 {transform: translate3d(0, -200px, 0);}

.main_dalton-info {margin-top: 100px;}
.main_dalton-info .dalton_logo {margin-bottom: 50px;}
.main_dalton-info .dalton-text {margin-left: 28px;}

.main_dalton-info .dalton_proud {display: flex; flex-flow: row wrap; gap: 40px; margin-top: 100px;}
.main_dalton-info .dalton_proud-item {display: flex; flex-flow: column wrap; align-items: center; justify-content: center; width: calc(100% / 3 - 80px / 3); height: 350px; text-align: center; background-color: #fff; box-shadow: 0 0 250px 300px rgba(0,0,0,0.015);}
.main_dalton-info .dalton_proud-item .t1 {font-size: 26px; font-weight: 600; color: var(--color-black2);}
.main_dalton-info .dalton_proud-item .t2 {font-size: 16px; font-weight: 400; color: var(--color-gray5);}

.main_dalton-info .dalton_exp {margin-top: 200px;}
.main_dalton-info .dalton_exp .content-text3 {margin-top: 30px; text-align: right;}

.main_dalton-info .dalton_exp-beforeAfter {overflow: hidden; position: relative; width: 100%; height: 500px; margin-top: 50px; border: 2px solid white;}
.main_dalton-info .dalton_exp-beforeAfter .img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: 1520px 100%; background-repeat: no-repeat;}
.main_dalton-info .dalton_exp-beforeAfter .background-img {background: url('../img/dalton-background-img.jpg') left center;}
.main_dalton-info .dalton_exp-beforeAfter .foreground-img {width: 50%; background: url('../img/dalton-foreground-img.jpg') left center;}
.main_dalton-info .dalton_exp-beforeAfter .slider {position: absolute; -webkit-appearance: none; appearance: none; width: calc(100%); height: 100%; background: transparent; outline: none; margin: 0; transition: all 0.2s; display: flex; justify-content: center; align-items: center; writing-mode: horizontal-tb !important;}
.main_dalton-info .dalton_exp-beforeAfter .slider-button {pointer-events: none; position: absolute; width: 66px; height: 66px; border-radius: 50%; left: calc(50% - 33px); top: calc(50% - 33px); display: flex; justify-content: center; align-items: center; z-index: 0; cursor: pointer;}
.main_dalton-info .dalton_exp-beforeAfter .slider-button:after {content: ""; display: block; position: absolute; top: 50%; left: 50%; z-index: 1; width: 4px; height: 500px; transform: translate(-50%, -50%); background-color: var(--color-black2);}
.main_dalton-info .dalton_exp-beforeAfter .slider-circle {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 66px; height: 66px; border-radius: 50%; background: url('../img/beforeAfter-arrow.png') no-repeat center/38px auto, var(--color-black2); z-index: 11; cursor: pointer;}

.main_dalton-info .dalton_ex {display: flex; flex-flow: row wrap; gap: 40px; margin-top: 50px; padding-bottom: 160px;}
.main_dalton-info .dalton_ex-item {position: relative; width: calc(100% / 3 - 80px / 3); height: 430px; padding-top: 44px; text-align: center; background-color: #fff;}
.main_dalton-info .dalton_ex-item .txt {position: absolute; bottom: -18px; right: 0; z-index: 5; width: 100%; padding-right: 84px; text-align: right;}
.main_dalton-info .dalton_ex-item .txt .t1 {font-size: 20px; font-weight: 400; color: var(--color-black2); line-height: normal;}
.main_dalton-info .dalton_ex-item .txt .t1.medium {font-weight: 500;}
.main_dalton-info .dalton_ex-item .txt .t1 .mark {font-weight: 800; color: #FF9900;}
.main_dalton-info .dalton_ex-item .txt .t2 {margin-top: 10px; font-size: 34px; font-weight: 500; color: var(--color-black2); line-height: normal;}

.main_product {margin-top: 200px;}
.main_product .main_sec-top .inner {display: flex; flex-flow: row wrap; align-items: flex-end; justify-content: space-between;}

.main_product-types {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-end; gap: 30px 70px; }
.main_product-type-item {position: relative; width: 460px; max-width: calc(33.333% - (140px / 3));}
.main_product-type-item .img {overflow: hidden; width: 100%;}
.main_product-type-item .txt {margin-top: 20px;}
.main_product-type-item .txt .t1 {font-size: 24px; font-weight: 600; color: var(--color-black2); line-height: normal;}
.main_product-type-item .txt .t2 {margin-top: 6px; font-size: 18px; font-weight: 300; color: var(--color-gray6); line-height: normal;}
.main_product-type-item.item3 .txt {position: absolute; top: 380px; right: calc(100% + 20px); z-index: 10; width: 100%; margin-top: 0; text-align: right;}

.main_product .marquee_text .tbox span {font-size: 100px; font-weight: 800;}
.main_product .marquee_text .tbox span.black {color: var(--color-black2);}
.main_product .marquee_text .tbox span.gray {color: #e2e2e2;}

.main_inspection {margin-top: 200px; min-height: 575px;}
.main_inspection .inner {position: relative; padding-left: 37.829%;}
.main_inspection .main_sec-top {padding: 60px 0 0 165px;}
.main_inspection .main_sec-top .content-text3 {margin-top: 30px;}
.main_inspection .main_sec-ct {position: unset; margin-top: 130px; padding-left: 165px;}
.main_inspection-img {position: absolute; top: 0; left: 0; z-index: 1; width: 37.829%;}

/* 제품소개 > 상세 */
.product-v_cTitle {display: block; margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid var(--color-gray6); font-size: 26px; font-weight: 700; color: var(--color-black2); line-height: normal;}

.product-v_top {margin-top: 80px;}
.product-v_top .inner {display: flex; flex-flow: row wrap; align-items: flex-start; justify-content: space-between;}
.product-v_top .lt {width: 52.632%;}
.product-v_top .rt {width: calc(100% - 52.632%); padding: 10px 20px 0; font-size: 0; text-align: right;}

.product-v_pic .small {margin-top: 10px;}
.product-v_pic .small .swiper-container {position: relative;}
.product-v_pic .small .swiper-slide {position: relative;}
.product-v_pic .small .swiper-slide-thumb-active:after {content: ""; display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; border: 3px solid var(--color-main);}
.product-v_pic .small .swiper-navi {position: absolute; top: 50%; z-index: 10; transform: translateY(-50%); width: 30px; height: 30px; border-radius: 5px;}
.product-v_pic .small .swiper-navi:after {font-family: swiper-icons; font-size: 18px; text-transform: none !important; letter-spacing: 0; font-variant: initial; color: var(--color-gray6); line-height: 1;}
.product-v_pic .small .prev-btn {left: 10px;}
.product-v_pic .small .prev-btn:after {content: 'prev';}
.product-v_pic .small .next-btn {right: 10px;}
.product-v_pic .small .next-btn:after {content: 'next';}
.product-v_pic .small .swiper-navi:hover {background: var(--color-main);}
.product-v_pic .small .swiper-navi:hover:after {color: var(--color-white);}

.product-v_summary {display: inline-block; width: 580px; max-width: 100%; font-size: 16px; text-align: left;}

.product-v_info .name {font-size: 40px; font-weight: 700; color: var(--color-black2); line-height: normal;}
.product-v_info .price {margin-top: 24px; font-size: 24px; font-weight: 600; color: var(--color-black2); line-height: normal;}
.product-v_info .expl {margin-top: 30px; font-size: 16px; font-weight: 300; color: var(--color-black2); line-height: 1.625;}

.product-v_btns {margin-top: 30px;}
.product-v_btns .ui-btn {display: flex; align-items: center; justify-content: center; width: 100%; height: 74px; font-size: 22px; font-weight: 500;}
.product-v_btns .ui-btn ~ .ui-btn {margin-top: 10px;}
.product-buy_btn {border: 1px solid var(--color-black3);  color: var(--color-white); background: var(--color-black3);}
.product-inq_btn {border: 1px solid var(--color-gray6); color: var(--color-black2); background: var(--color-white);}

.product-v_spec {margin-top: 20px;}
.product-spec_btn {display: flex; align-items: center; justify-content: space-between; width: 100%; height: 64px; border-bottom: 2px solid var(--color-gray6);}
.product-spec_btn .txt {font-size: 20px; font-weight: 500; color: var(--color-black2); line-height: 1;}
.product-spec_btn .icn {}
.product-spec_btn .icn:before {content: "+"; font-size: 30px; font-weight: 300; color: var(--color-black2); line-height: 1;}

.product-v_spec .spec-list {padding: 20px 0 15px; border-bottom: 1px solid var(--color-gray6);}
.product-v_spec .spec-list > li {position: relative; padding-left: 8px; font-size: 16px; font-weight: 300; color: var(--color-black2);}
.product-v_spec .spec-list > li ~ li {margin-top: 5px;}
.product-v_spec .spec-list > li:before {content: ""; display: block; position: absolute; top: 8px; left: 0; z-index: 1; width: 4px; height: 4px; border-radius: 50%; background-color: var(--color-gray4);}
.product-v_spec.open .product-spec_btn .icn:before {content: "-";}

.product-v_rel {margin-top: 90px;}
.product-v_rel .rel-lsit {display: flex; align-items: start; flex-wrap: wrap; gap: 30px 26px; padding-bottom: 60px; border-bottom: 1px solid var(--color-gray6); font-size: 0;}
.product-v_rel .rel-lsit .product-list_item {width: calc((100% - 78px) / 4);}

.product-v_detail {margin-top: 120px; text-align: center;}
.product-v_detail .inner {position: relative;}
.product-v_detail * {word-break: break-all;}