@media screen and (max-width:1680px) {
  /* Main */
  .main_visual .swiper-slide .txt-box {bottom: 15%;}
  .main_visual .swiper-slide .txt-box .inner {width: 55%;}
} /* End */

@media screen and (max-width:1600px) {
  /* Header */
  #header .gnb .navi > ul {gap: 0 50px;}

  #header .language {margin-left: 70px;}
  #header .inspection {margin-left: 30px;}

  /* Footer */
  #footer {padding: 70px 0;}
  #footer .lt {width: 40%; padding-right: 50px;}
  #footer .rt {width: 60%;}
  #footer .slg_t1 {font-size: 60px;}
  #footer .slg_t2 {font-size: 24px;}
  #footer .slg_t3 {width: 100%; font-size: 16px;}
  #footer .slg_t3 br {display: none;}

  /* Main */
  .main_visual .swiper-slide .txt-box .t1 {font-size: 80px;}

  .main_dalton-images {gap: 30px;}

  .main_dalton-info .dalton_ex-item .txt {padding-right: 50px;}

  .main_inspection .inner {padding-left: 45%;}
  .main_inspection .main_sec-top {padding: 30px 0 0 70px;}
  .main_inspection .main_sec-ct {margin-top: 100px; padding-left: 70px;}
  .main_inspection-img {width: 45%;}
} /* End */

@media screen and (max-width:1290px) {
  /* Common */
  .container {padding-left: 40px; padding-right: 40px;}

  .content_title1 {font-size: 46px;}

  .link-btn .txt {font-size: 16px;}
  .link-btn img {width: 15px;}

  /* Footer */
  #footer .slg_t1 {font-size: 48px;}
  #footer .slg_t2 {font-size: 20px;}
  #footer .slg_t3 {margin-top: 30px;}

  .fix_btns > ul > li ~ li {margin-top: 10px;}
  .fix_btns > ul > li .ui-btn {width: 60px; height: 60px;}
  .fix_btns > ul > li .ui-btn.inspection-btn {background-size: 36px auto;}
  .fix_btns > ul > li .ui-btn.naverStore-btn {background-size: 36px auto;}
  .fix_btns > ul > li .ui-btn.amazon-btn {background-size: 35px auto;}
  .fix_btns > ul > li .ui-btn.top-btn {background-size: 12px auto;}

  /* Main */
  #main .content-text {font-size: 38px;}
  #main .content-text2 {font-size: 26px;}

  .main_visual .swiper-slide .txt-box .inner {width: 70%;}

  .main_dalton .content-text2 {margin-top: 30px;}
  .main_dalton-info .dalton_logo .dalton-text-d {width: 81px;}
  .main_dalton-info .dalton_logo .dalton-text {margin-left: 20px; width: 208px;}
  .main_dalton-info .dalton_proud {gap: 30px;}
  .main_dalton-info .dalton_proud-item {height: 300px; padding: 0 20px;}
  .main_dalton-info .dalton_proud-item.round-top-right {border-radius: 0 200px 0 0;}
  .main_dalton-info .dalton_proud-item .t2 {margin-top: 10px;}
  .main_dalton-info .dalton_proud-item .t2 br {display: none;}

  .main_dalton-info .dalton_ex {gap: 30px;}
  .main_dalton-info .dalton_ex-item {height: auto; padding: 44px 20px;}
  .main_dalton-info .dalton_ex-item .txt {position: inherit; bottom: inherit; right: inherit; margin-top: 20px; padding-right: 0; text-align: center;}
  .main_dalton-info .dalton_ex-item .txt .t1 {font-size: 18px;}
  .main_dalton-info .dalton_ex-item .txt .t2 {font-size: 26px;}

  .main_dalton-info .dalton_ex-item {border-radius: 0 !important;}

  .main_product-types {gap: 30px 30px;}
  .main_product-type-item.item3 .txt {top: 220px;}
  .main_product .marquee_text .tbox span {font-size: 80px;}

  .main_inspection {min-height: 45vw;}
  .main_inspection .main_sec-ct {margin-top: 50px;}
} /* End */

@media screen and (max-width:1023px) {
  /* Common */
  .container {padding-left: 30px; padding-right: 30px;}

  .content_title1 {font-size: 36px;}

  /* Header */
  #header {height: 60px;}
  #header .logo > a {display: flex; align-items: center; width: 60px; height: 60px; padding-top: 0;}
  #header .gnb .navi {display: none !important;}
  #header .language {margin-left: 0;}
  #header.type2 .logo > a {width: 80px;}

  .mo-menu_open {display: block;}

  /* Footer */
  #footer {padding: 50px 0;}
  #footer .inner {display: block;}
  #footer .lt {width: 100%; padding-right: 0;}
  #footer .rt {width: 100%; margin-top: 30px; padding-top: 30px; border-top: 1px solid rgba(255,255,255,0.3);}
  #footer .slg_t1 {font-size: 28px;}
  #footer .slg_t2 {margin-top: 10px; font-size: 18px;}
  #footer .slg_t2 br {display: none;}
  #footer .slg_t3 {margin-top: 10px; font-size: 16px;}
  #footer .slg_t3 br {display: none;}
  #footer .company_info {margin-top: 30px; padding-top: 30px;}
  #footer .sitemap > ul > li > a {font-size: 18px;}

  /* Main */
  #main {padding-bottom: 100px;}

  #main .content-text {font-size: 28px;}
  #main .content-text2 {font-size: 22px;}
  #main .content-text3 {font-size: 18px;}

  .main_visual .swiper-slide {height: 70vh;}
  .main_visual .swiper-slide .txt-box .t1 {font-size: 50px;}
  .main_visual .swiper-slide .txt-box .t2 {font-size: 22px;}

  .main_dalton {margin-top: 70px;}
  .main_dalton-images {margin-top: 50px; padding-left: 50px; transform: none !important;}
  .main_dalton-img-item {width: calc(100% / 3 - (60px / 3)); max-width: 100%; transform: none !important;}
  .main_dalton-img-item.item2 {transform: translate3d(0, -50px, 0) !important;}

  .main_dalton-info {margin-top: 70px;}
  .main_dalton-info .dalton_logo {margin-bottom: 20px;}
  .main_dalton-info .dalton_logo .dalton-text-d {width: 40px;}
  .main_dalton-info .dalton_logo .dalton-text {margin-left: 10px; width: 120px;}
  .main_dalton-info .dalton_proud {margin-top: 20px; gap: 20px;}
  .main_dalton-info .dalton_proud-item {width: calc(100% / 3 - (40px / 3)); height: 200px;}
  .main_dalton-info .dalton_proud-item.round-top-right {border-radius: 0 90px 0 0;}
  .main_dalton-info .dalton_proud-item .t1 {font-size: 20px;}

  .main_dalton-info .dalton_exp-beforeAfter {height: 300px;}

  .main_dalton-info .dalton_exp {margin-top: 80px;}
  .main_dalton-info .dalton_exp .content-text3 {margin-top: 10px;}
  .main_dalton-info .dalton_exp-beforeAfter {margin-top: 20px;}

  .main_dalton-info .dalton_ex {margin-top: 30px; padding-bottom: 70px;}
  .main_dalton-info .dalton_ex-item {padding: 20px;}
  .main_dalton-info .dalton_ex-item .txt .t1 {font-size: 16px;}
  .main_dalton-info .dalton_ex-item .txt .t2 {font-size: 20px;}

  .main_product {margin-top: 70px;}
  .main_product .main_sec-ct {margin-top: 100px;}
  .main_product-type-item {transform: none !important; width: calc(33.333% - (60px / 3)); max-width: 100%;}
  .main_product-type-item.item1 {}
  .main_product-type-item.item2 {transform: translate3d(0, -100px, 0) !important;}
  .main_product-type-item.item3 {transform: translate3d(0, 70px, 0) !important;}
  .main_product-type-item .txt .t1 {font-size: 20px;}
  .main_product-type-item .txt .t2 {font-size: 16px;}

  .main_product .marquee_text {margin-top: 70px;}
  .main_product .marquee_text .tbox span {font-size: 60px;}

  .main_inspection {margin-top: 120px;}
  .main_inspection .main_sec-top {padding-top: 0;}
} /* End */

@media screen and (max-width:767px) {
  /* Common */
  .container {padding-left: 20px; padding-right: 20px;}

  .link-btn .txt {font-size: 14px;}
  .link-btn img {width: 12px;}

  /* Header */
  #header .language,
  #header .inspection,
  .main_product .marquee_text,
  .fix_btns {display: none !important;}

  #header .language .ncSelect {font-size: 14px;}
  #header .inspection {margin-left: 10px;}
  #header .inspection-btn {font-size: 14px;}

  /* Footer */
  #footer .sitemap > ul > li > a {font-size: 16px;}
  #footer .sitemap > ul > li > ul > li > a {font-size: 14px;}
  #footer .company_info > ul > li {font-size: 14px;}

  /* Main */
  .content_title1 {font-size: 22px;}
  #main .content-text {font-size: 18px;}
  #main .content-text2 {font-size: 16px;}
  #main .content-text3 {font-size: 14px;}

  .main_visual .swiper-slide {height: 50vh;}
  .main_visual .swiper-slide .txt-box {bottom: 10%;}
  .main_visual .swiper-slide .txt-box .inner {width: 100%;}
  .main_visual .swiper-slide .txt-box .t1 {font-size: 30px;}
  .main_visual .swiper-slide .txt-box .t2 {margin-top: 15px; font-size: 16px;}

  .main_dalton-images {padding-left: 0; gap: 10px;}
  .main_dalton-img-item {width: calc(100% / 3 - (20px / 3));}
  .main_dalton-img-item.item2 {transform: none !important;}

  .main_dalton-info .dalton_proud {gap: 10px;}
  .main_dalton-info .dalton_proud-item {width: calc(100% / 3 - (20px / 3)); padding: 0 10px; border-radius: 0 !important;}
  .main_dalton-info .dalton_proud-item .t1 {font-size: 16px;}
  .main_dalton-info .dalton_proud-item .t2 {font-size: 14px;}

  .main_dalton-info .dalton_exp-beforeAfter {height: 150px;}

  .main_dalton-info .dalton_ex { gap: 10px;}
  .main_dalton-info .dalton_ex-item {width: calc(100% / 3 - (20px / 3)); padding: 10px;}
  .main_dalton-info .dalton_ex-item .txt {margin-top: 10px;}
  .main_dalton-info .dalton_ex-item .txt .t1 {font-size: 14px;}
  .main_dalton-info .dalton_ex-item .txt .t2 {margin-top: 5px; font-size: 14px;}

  .main_product .main_sec-top .inner {display: block;}
  .main_product .main_sec-top .link-btn {display: block; width: 100%; margin-top: 10px; text-align: right;}

  .main_product .main_sec-ct {margin-top: 30px;}
  .main_product-types {gap: 10px;}
  .main_product-type-item {width: calc(33.333% - (20px / 3));}
  .main_product-type-item.item1 {transform: none !important;}
  .main_product-type-item.item2 {transform: none !important;}
  .main_product-type-item.item3 {transform: none !important;}
  .main_product-type-item .img {position: relative;  height: 0; padding-bottom: 100%; border-radius: 0 !important;}
  .main_product-type-item .img img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .main_product-type-item .txt {position: inherit !important; top: inherit !important; bottom: inherit !important; left: inherit !important; right: inherit !important; width: 100% !important; margin-top: 10px !important; text-align: left !important;}
  .main_product-type-item .txt .t1 {font-size: 16px;}
  .main_product-type-item .txt .t2 {font-size: 14px;}

  .main_inspection {margin-top: 70px; min-height: auto;}
  .main_inspection .inner {padding-left: 0;}
  .main_inspection .main_sec-top {padding: 0;}
  .main_inspection .main_sec-top .content-text3 {margin-top: 10px;}
  .main_inspection .main_sec-ct {margin-top: 20px; padding-left: 0;}
  .main_inspection-img {position: inherit; top: inherit; left: inherit; width: 70%;}
  .main_inspection .main_sec-ct .link-btn {display: block; width: 100%; margin-top: 30px; text-align: left;}
} /* End */

@media screen and (max-width:480px) {
  /* Footer */
  #footer .rt {margin-top: 20px; padding-top: 20px;}

  #footer .slg_t1 {font-size: 16px;}
  #footer .slg_t1 br {display: none;}
  #footer .slg_t2 {font-size: 14px;}
  #footer .slg_t3 {font-size: 12px;}

  #footer .brand_logo {margin-top: 20px;}
  #footer .brand_logo > li.dalton-logo {width: 90px;}
  #footer .brand_logo > li.rmk-logo {width: 40px;}

  #footer .sitemap > ul {gap: 20px 10px; justify-content: flex-start;}
  #footer .sitemap > ul > li {width: calc(100% / 3 - (20px / 3));}
  #footer .sitemap > ul > li > ul {margin-top: 10px;}
  #footer .sitemap > ul > li > a {font-size: 14px;}
  #footer .sitemap > ul > li > ul > li > a {font-size: 12px;}

  #footer .company_info {margin-top: 20px; padding-top: 20px;}
  #footer .company_info > ul {gap: 5px 10px;}
  #footer .company_info > ul > li {font-size: 12px; line-height: 1.5;}
  #footer .company_info > ul > li:after {right: -5px;}

  #footer .copy {margin-top: 10px; font-size: 12px;}

  #footer .sns {margin-top: 20px;}

  /* Main */
  #main {padding-bottom: 70px;}

  .main_dalton .main_sec-ct:after {height: 50%;}
  .main_dalton .content-text2 {margin-top: 10px;}
  .main_dalton-images {margin-top: 20px;}

  #main .main_dalton .content-text br {display: none;}

  .main_dalton-info .dalton_logo {margin-bottom: 10px;}
  .main_dalton-info .dalton_logo .dalton-text-d {width: 26px;}
  .main_dalton-info .dalton_logo .dalton-text {width: 90px;}
  .main_dalton-info .dalton_proud {flex-direction: column; margin-top: 10px;}
  .main_dalton-info .dalton_proud-item {width: 100%; height: auto; padding: 20px;}

  .main_dalton-info .dalton_exp-beforeAfter .slider-circle {width: 40px; height: 40px; background-size: 20px auto;}
  .main_dalton-info .dalton_exp-beforeAfter .slider-button {width: 40px; height: 40px; left: calc(50% - 20px); top: calc(50% - 20px);}

  .main_dalton-info .dalton_ex {flex-direction: column; margin-top: 10px; padding-bottom: 50px;}
  .main_dalton-info .dalton_ex-item {width: 100%; height: auto; padding: 20px;}
  .main_dalton-info .dalton_ex-item .icon {width: 120px; max-width: 100%; margin: 0 auto;}

  .main_product {margin-top: 50px;}

  .main_product-types {display: block;}
  .main_product-type-item {width: 100%;}
  .main_product-type-item.item2 {margin-top: 30px;}
  .main_product-type-item.item3 {margin-top: 30px;}

  .main_inspection {margin-top: 50px;}
  .main_inspection-img {width: 100%;}
  
} /* End */